*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    font-family: Arial, Helvetica, sans-serif;

}
.sidebar{
    width: 340px;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    height: 100vh;
   

}

.sidebar-nav{
    background: #111111;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 10px;
}

.sidebar-nav .logo img{
    width: 100%;
}

.sidebar-nav .logo{
    width: 120px;
}
.sidebar-nav ul{
    list-style: none;
}
.sidebar-nav ul li{
    padding: 10px 20px;
}
.sidebar-nav ul li a:hover{
    color: #fff;
}
.sidebar-nav ul li a{
   text-decoration: none;
   color: #b3b3b3;
   font-size: 16px;
   font-weight: 600;

}
.sidebar-nav ul li a i{
   font-size: 20px;
   margin-right: 10px;

}

.library::after{
    content: '+';
    float: right;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
}

.create-playlist{
    background: #302f2f;
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sidebar-scroll{
    height: 150px;
    overflow-y: auto;
}
.sidebar-scroll::-webkit-scrollbar{
   background: transparent;
   

}
.sidebar-scroll::-webkit-scrollbar-thumb{
   background: transparent;
   width: 10px;

}
.sidebar-scroll:hover::-webkit-scrollbar-thumb{
   background:#5c5b5b;
   width: 5px;

}

.create-playlist h4{
    color: #fff;
    font-size: 15px;
    
}
.create-playlist p{
    color: #fff;
    font-size: 12px;
    margin: 12px 0;

}

.create-playlist button{
    padding: 8px 15px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 10px;

}

.privacy ul li a{
    text-decoration: none;
    color: #5c5b5b;
    font-size: 12px;
    font-weight: 600;
    margin: 0px 5px;

}
.privacy ul li a:hover{
    text-decoration: underline;
    color: #bebcbc;
   

}

.privacy ul{
    list-style: none;
    margin-top: 30px;
}

.privacy ul li{
    padding: 0px 12px;
    padding-bottom: 8px;


}
.eng-btn{
    padding: 20px 30px ;
}

.eng-btn button{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    color: #ffff;
    border: 1px solid #5c5b5b;
    border-radius: 20px;
    margin: 10px 0px;
    
}

.eng-btn button:hover{
    padding: 11px 31px;
    border: 1px solid white;

}

.main-section{
    margin-left: 340px;
    background: #181818;
    height: 220vh;
    margin-bottom: 90px;
   
}

.main-section::-webkit-scrollbar{
   background: transparent;
   

}
.main-section::-webkit-scrollbar-thumb{
   background: transparent;
   width: 10px;

}
.main-section:hover::-webkit-scrollbar-thumb{
   background:#5c5b5b;
   width: 5px;

}


.main-section .top-nav{
    padding: 20px 30px;
    background: #030303;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-section .top-nav  button{
    background: transparent;
    border: 0;
    outline: 0;
    
}
.main-section .top-nav .prev-btn button i{
    color: #838181;
    font-size: 22px;
    margin-right: 20px;
}

.top-nav .login-btn .sign-up{
    color: #838181;
    font-size: 16px;
    font-weight: 600;
    margin-right: 25px;
}
.top-nav .login-btn .sign-up:hover{
    color: #ffff;
    
}
.top-nav .login-btn .login{
    color: #242323;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    padding: 10px 15px;
    border-radius: 20px;
}
    
.top-nav .login-btn .login:hover{
   background: #f3f3f3;
   transform: scale(1.1);
    
}

.spotify-playlist{
    padding: 20px 40px;
}
.spotify-playlist h2{
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}
.spotify-playlist .card{
    display: flex;
    gap: 20px;
    overflow: hidden;

}

.spotify-playlist .card .item{
    width: 220px;
    min-width: 140px;
    background-color:#272626;
    border-radius: 6px;
    cursor: pointer;
    padding: 15px;

}
.spotify-playlist .card .item:hover{
    background-color: #3d3c3c;

}
.spotify-playlist .card .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
    

}

.spotify-playlist .item h4{
    color: #fff;
    font-weight: 600;
}
.spotify-playlist .item p{
    color: #bcb8b8;
    font-size: 14px;
    margin-top: 10px;
}
.spotify-playlist .item p:hover{
    text-decoration: underline;

}

.spotify-playlist .play-btn{
    position: relative;
}
.spotify-playlist .play-btn i{
    position: absolute;
    background: #1db954;
    border-radius: 50%;
    padding: 15px;
    right: 10px; 
    top: -60px;
    opacity: 0;
    transform: 0.3s ease all;
}
    

.spotify-playlist .card .item:hover .play-btn i{
    opacity: 1;
    transform: translateY(-20px);

}

.footer-section{
    padding: 20px 40px;
}

.footer-section .footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-section .footer .footer-links{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.footer-section .footer .footer-links .footer-column{
    margin: 0px 12px;
}
.footer-section .footer .footer-links div{
    color: #fff;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 16px;
}
.footer-section .footer .footer-links ul{
    list-style: none;
    margin: 0 6px;
    
}
.footer-section .footer .footer-links ul li a{
    text-decoration: none;
    color: #969393;
    font-size: 14px;
    cursor: pointer;

}
.footer-section .footer .footer-links ul li a:hover{
    text-decoration: underline;
    color: #fff;
    font-size: 14px;
    cursor: pointer;

}

.footer .social-links i{
    color: #fff;
    background-color: #353434;
    padding: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    
}
.footer .social-links i:hover{
    
    background-color: #636262;
    

}

hr{
    margin: 20px 40px;
    border: 0;
    outline: 0;
    border: 1px solid #575656;
    margin-top: 40px;
}

.copyright{
    padding: 0 40px;
    color: #969393;
    font-size: 15px;
    margin-bottom: 30px;


}
.preview{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right,#ae2896, #509bf5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 40px;


}

.preview h4{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ffff;
}
.preview p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.preview button{
    padding: 15px 30px;
    border: 0;
    outline: 0;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    color: #000;

}




